.Navbar {
    width: 100%;
    background: linear-gradient(180deg, #1950B4 0%, rgba(43, 98, 198, 0) 92.95%);
    border: 1px solid rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(6px);
    position: absolute;
    justify-content: baseline;
    align-items: center;
}

.container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

.submit_btn {
    background: rgba(11, 34, 75, 0.26);
    border: 2px solid #10EBF8;
    border-radius: 2px;
    width: 100px;
}

.nav_item {
    margin: 10px;
}