.Navbar {
    width: 100%;
    background: linear-gradient(180deg, #1950B4 0%, rgba(43, 98, 198, 0) 92.95%);
    border: 1px solid rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(6px);
    position: absolute;
    justify-content: baseline;
    align-items: center;
}

.container {
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
}

.logo:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

.submit_btn {
    background: rgba(11, 34, 75, 0.5);
    border: 2px solid #10EBF8;
    border-radius: 2px;
    width: 170px;
    height: 50px;
    margin-right: 20px;
}

.submit_btn:hover {
    transition: 0.5s;
    background: rgba(11, 34, 75, 0.26);
    cursor: pointer;
}

.nav_item {
    margin: 10px;
}

.nav_item_text {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-left: 7px;
}

.nav_item_text:hover {
    transition: 0.5s;
    color: wheat
}

.button_a {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 22px;
    /* or 200% */

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #10EBF8; 
}

.contacts {
    display: flex;
    align-items: center;
}

.number_text {
    font-style: light;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;  
    color: white;
    margin-right: 10px;
}

.number {
    display: flex;
    margin-right: 20px;
}

.polygon:hover {
    cursor: pointer;
}

.basket {
    margin-right: 20px;
}