.Products {
    display: flex;
    padding: 0px 50px 20px 100px;

    align-items: center;
    justify-content: space-between;
}

.product {
    display: flex;
    width: 50%;
    align-items: flex-end;
}

.product_name {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;

    color: #044988;
}

.image_3 {
    position: absolute;
    z-index: 20;
}

.button:hover {
    cursor: pointer;
}

.mobile_image {
    display: none;
}