@media screen and (max-width: 930px) {
    .Hero {
        background-image: url("../../images/main_image_mobile.svg");
        height: 900px;
    }
    
    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;  
    }

    .main_block {
        padding-top: 100px
    }

    .main_text_btn {
        width: 140px;
        border-radius: 2px;
    }
}